#root {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  background-image: url('src/assets/home/background-home-mobile.jpg');
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  position: relative;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: -70dvw;
  height: 100dvh;
  width: 70dvw;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(20px);
  z-index: 2;
  transform: translateX(10%);
  transition: transform 0.5s ease;
}

.mobile-nav--visible {
  transform: translateX(-100%);
}

.mobile-nav__close-btn {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}

.mobile-nav__links {
  padding: 3rem 0 0 3rem;
  font-family: var(--font-barlow-condensed), serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.mobile-nav__links a {
  border-inline-end: 2px solid transparent;
  width: 99%;
  display: flex;
}

.mobile-nav__links a span {
  margin-right: 1rem;
  font-weight: bold;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.header__nav-icon:hover {
  cursor: pointer;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  flex: 1;
}

.home__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: 50%;
  flex: 1;
}
.home__description > p {
  font-weight: 400;
  color: var(--blue-300);
}
.home__description > p:first-of-type {
  font-family: var(--font-barlow-condensed), sans-serif;
  font-size: 1.75rem;
}

.home__description > h1 {
  font-family: var(--font-bellefair), serif;
  line-height: normal;
  font-weight: 400;
  font-size: 6.25rem;
  color: var(--white);
}

.home__description > p:last-of-type {
  font-family: var(--font-barlow), sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: center;
}

.home__link {
  position: relative;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.home__link-button-behind {
  position: absolute;
  background-color: antiquewhite;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.5s ease;
}

.home__link-button-behind.hovered {
  opacity: 0.3;
}

.home__link-button span.hovered {
  opacity: 0.6;
}

.home__link-button {
  background-color: var(--white);
  font-size: 1.125rem;
  font-family: var(--font-bellefair), serif;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  height: 9rem;
  width: 9rem;
  padding: 2rem;
  border-radius: 50%;
  z-index: 1;
}

.home__link-button:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  #root {
    background-image: url('src/assets/home/background-home-tablet.jpg');
  }
}

@media (min-width: 1200px) {
  #root {
    background-image: url('src/assets/home/background-home-desktop.jpg');
  }
}


